/AceClient/Debug
/AceSrvTest/Debug
/Debug
/AceSrvCommon/Debug
/*.sdf
/*.suo
/*.opensdf
/thirdparty/protobuf-2.6.1/vsprojects/*.sdf
/thirdparty/protobuf-2.6.1/vsprojects/*.suo
/thirdparty/protobuf-2.6.1/vsprojects/*.user
